.categories-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  column-gap: 3%;
  padding: 0 3% 0 3%;
  margin-top: 5vh;
}

.category-item {
  display: flex;
  flex-direction: column;

  height: 60vh;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  margin-bottom: 6%;
}

.category-item-img {
  flex-basis: 60%;

  overflow: hidden;
}

.category-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories-item-info {
  flex-basis: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 2% 0 2%;
  overflow: hidden;
}

.categories-item-info h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 25px;

  /* or 100% */

  letter-spacing: 0.0703846px;
}

.categories-item-info span {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  /* or 133% */

  letter-spacing: 0.0703846px;

  color: #5b5b5b;
}

.categories-item-info h4 {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;

  color: #8e8e8e;
}

.categories-line-wrapper {
  width: 100vw;
  margin-top: 5vh;
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.0703846px;

  color: #4e4e4e;
}

.category-line-short {
  width: 3%;
  background-color: #4e4e4e;
  height: 4px;
}
.category-line-large {
  width: 75%;
  background-color: #4e4e4e;
  height: 4px;
}

@media (max-width: 750px) {
  .categories-wrapper {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .category-item {
    height: 20rem;
    margin-bottom: 3vh;
    border-radius: 0%;
  }
  .categories-item-info span {
    display: none;
  }
  .categories-item-info h3 {
    font-size: 20px;
  }
  .category-img {
    height: 100%;
  }
  .category-item-img {
    flex-basis: 70%;
    height: 100%;
    overflow: hidden;
  }
  .categories-item-info {
    flex-basis: 30%;
  }
  .categories-line-wrapper h3 {
    font-size: 24px;
  }
  .category-line-large {
    width: 60%;
  }

  .category-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 750px) and (max-width: 1100px) {
  .categories-wrapper {
    margin-top: 3rem;
  }
  .categories-item-info span {
    display: none;
  }

  .category-item-img {
    flex-basis: 60%;
  }
  .categories-item-info {
    flex-basis: 40%;
  }
  .categories-item-info h3 {
    font-size: 22px;
  }

  .category-item {
    height: 20rem;
    width: 100%;
  }
  .category-item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .categories-line-wrapper {
    font-size: 35px;
  }

  .category-line-large {
    width: 58vw;
  }
}

@media (min-width: 1100px) and (max-width: 1280px) {
  .category-item-img {
    flex-basis: 60%;
  }
  .category-img {
    height: 100%;
  }
  .categories-item-info {
    flex-basis: 40%;
  }

  .category-line-large {
    width: 63vw;
  }
}

@media (max-width: 480px) {
  .categories-line-wrapper {
    margin-top: 8rem;
  }
  .categories-line-wrapper {
    font-size: 23px;
  }
  .category-line-large {
    width: 43%;
  }
  .categories-wrapper {
    padding: 0%;
  }
  .category-line-large {
    width: 40%;
  }
}
