.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.search-input{
    width: 60%;
    height: 36px;
    border-right: none;
    padding: 5px;
    border: 3px solid #9e9e9e;
    border-radius: 5px 0 0 5px;
    outline: none;

}

.search-input input{
    height: 5rem;
}

.search-btn{
    padding: 5px;
    height: 36px;
    width: 46px;
    background-color: #9e9e9e;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #9e9e9e;
    border-radius: 0 5px 5px 0;
    
}

.search-btn i{
    font-weight: 800;
    color: white;
    font-size: 1.3rem;
}

.search-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.search-content-items{
    display: flex;
    width: 60%;
    height: 12rem;
    overflow: hidden;
   
    
}

.search-content-items img{
    width: 35%;
    object-fit: cover;
}

.search-content-items-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

      font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
    
}
.search-content-items-info h3{
      font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
}





@media (max-width: 980px){
    .search-content-items{
        width: 100%;
        height: 15rem;
        border-radius: 0%;
    }
    .search-content-items img{
        width: 45%;
        object-fit: cover;
    }
}

